{% extends 'base.html' %}
{% block title %}Search Stock{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header bg-primary text-white">Search Stock</div>
  <div class="card-body">
    {% if messages %}
      <div class="alert alert-danger" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-md-6 mb-3">
          {{ search_form.symbol.label_tag }} {{ search_form.symbol }}
          {% for error in search_form.symbol.errors %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          {{ date_form.start_date.label_tag }} {{ date_form.start_date }}
          {% for error in date_form.start_date.errors %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        </div>
      </div>
      <div>
        {% if date_form.non_field_errors %}
          <div class="alert alert-danger">
            {% for error in date_form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</div>
{% endblock %}
